* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 800px;
  margin: 0 auto 0 auto;
}

.Posts {
  height: 100vh;
  margin: 0 auto 0 auto;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid teal;
}

.post__btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.PostDetailed {
  margin: 30px auto;
}
