.BaseBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid teal;
    cursor: pointer;
}
.BaseBtn.disabled {
    cursor: not-allowed;
    color: gray;
    border-color: gray;
}